/*
**  CSS Variables
*/

:root {
  --info-height: 1em;
  --logo-size: 100px;
}

/*
**  Global style
*/

body {
  margin: 0;
  height: 100vh;
  display: flex;
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5em;
  color: #333;
}

div#page {
  flex: 1;
  min-height: 100vh;
  padding-right: 100px; /* For older browsers */
  padding-right: var(--logo-size);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

a, a:visited {
  color: #39F;
  text-decoration: none;
}

h1 { font-size: 1.5em; }

h1, h2, h3, p, pre > code { line-height: 1.5em; }

li { margin: 0.4em 0; }

/*
**  Separators
*/

.vr-line {
  margin: 0 5px;
  align-self: stretch;
  border-left: 1px solid #AAA;
}

/*
**  Logo
*/

#logo {
  display: block;
  height: 100px; /* For older browsers */
  height: var(--logo-size);
  max-width: 10%;
}

#logo > img { width: 100%; }

/*
**  Structural classes
*/

header, main, footer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

header > a {
  display: block;
  margin: 0 5px;
}

/* Main content */
main {
  flex: 1;
  padding: 5px 5%;
}

/* Footer */
footer {
  height: 2em; /* For older browsers */
  height: calc(1em + 20px);
  font-size: 1em;
}

footer > img {
  height: 100%;
}

/*
**  Navigation
*/

div#navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
**  Titles styling
*/

main#content > h1,
main#content > h2 {
  padding-bottom: 5px;
}

main#content > h1 { border-bottom: 1px solid #AAA; }

main#content > h2 { border-bottom: 1px dotted #AAA; }

main#content > p { text-align: justify; }

/*
**  Codeboxes
*/

pre {
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  padding: 0 2px;
  box-sizing: border-box;
  background-color: #EEE;
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 2px;
}

pre > code {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
}

/*
**  Article images
*/

.figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure > img { max-width: 100%; }

/*
**  Posts list classes
*/

.posts-list {
  margin: 1em 0;
  padding: 0;
  border: 5px solid #FAFAFA;
  border-radius: 8px;
}

.posts-list > li {
  margin: 0;
  display: block;
}

.posts-list > li:nth-child(odd) { background-color: #FAFAFA; }

.posts-list > li > a {
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction:row;
  align-items: center;
  transition: 0.2s;
}

.posts-list > li > a > span {
  margin-right: 1em;
  display: block;
  flex: 1;
  text-align: left;
}

.posts-list > li > a > strong {
  flex-shrink: 0;
  font-style: italic;
  font-size: 0.8em;
  color: #333;
}

/* Hover classes */
.posts-list > li > a:hover { padding-left: 2em; }

/*
**  Infobox
*/

.info {
  margin: 5px 0;
  line-height: 1em; /* For older browsers */
  line-height: var(--info-height); /* For older browsers */
  line-height: calc(1em + 4px); /* For older browsers */
  line-height: calc(var(--info-height) + 4px);
  font-style: italic;
  text-align: right;
}

.info:after {
  content: "ℹ";
  height: 1em; /* For older browsers */
  width: 1em; /* For older browsers */
  height: var(--info-height);
  width: var(--info-height);
  margin: 0 5px;
  padding: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  color: #AAA;
  border: 1px solid #AAA;
  border-radius: 50%;
}

/*
**  Modified Pandoc-generated syntax highlight
*/

table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none;
}

td.lineNumbers {
  border-right: 1px solid #AAAAAA;
  text-align: right;
  color: #AAAAAA;
  padding-right: 5px;
  padding-left: 5px;
}

td.sourceCode { padding-left: 5px; }

.sourceCode span.kw { color: #814387; font-weight: bold; }
.sourceCode span.dt { color: #4070a0; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #007020; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

/*
**  Responsive classes
*/

@media all and (max-width:800px) {

  /* Responsive body */
  body { flex-direction: column; }

  /* Responsive main page */
  div#page {
    min-height: auto;
    padding: 0 5%;
  }

  /* Responsive page logo */
  #logo {
    margin: 0 auto;
    max-width: 100px;
  }

  /* Responsive posts list */
  .posts-list > li > a {
    flex-direction: column;
    align-items: flex-start;
  }

  .posts-list > li > a > span { margin-right: 0; }

  .posts-list > li > a > strong {
    width: 100%;
    margin-top: 1em;
    text-align: right;
  }
}
