<p>Bienvenue sur le Blog de Prog' ! Vous aimez le fonctionnel ? Moi oui.</p>

<h2>Quelques articles</h2>

<ul class="posts-list">
  <% posts.forEach(post => { %>
    <%- include('../parts/post.ejs', { post }) %>
  <% }) %>
</ul>

<a class="posts-more" href="https://falconpilot.github.io/archive.html">Plus d'articles par ici</a>
