<p>Bienvenue sur le Blog de Prog' ! Vous aimez le fonctionnel ? Moi oui.</p>

<h2>Articles</h2>

<ul class="posts-list">
  <% posts.forEach(post => { %>
    <li>
      <a href="<%= post.link %>">
        <span><%= post.title %></span>
        <strong><%= post.date %></strong>
      </a>
    </li>
  <% }) %>
</ul>
